/* header */

#header {
	width: 900px;
	margin: 0 auto;
	
	height: 270px;
	position: relative;
	padding-bottom: 20px;
}

#title {
    text-align: center;
    line-height: 200px;
	font-size : 60px;
	font-family: 'Pixelify Sans', cursive;
}

#sns {
	position: absolute;
	right: 0; bottom : 20px;
}
#sns > ul { overflow: hidden; }
#sns > ul > li { float: left; }
#sns > ul > li > a {
	display: block;
	padding: 5px 10px;
	border: 1px solid black;
}
#sns > ul > li > a:hover {
	background-color: black;
	color: white;
}
#sns > ul > li:first-child > a {border-radius: 10px 0 0 10px; }
#sns > ul > li:last-child > a {border-radius: 0 10px 10px 0; }

/* content */

#content {
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
	
	border-top: 1px solid black;

}

#aside {
	padding-top: 20px;
	padding-left: 5px;
	width: 200px;
	float: left;
	font-family: 'Ubuntu', sans-serif;
}


#div {
	width: 690px;
	float: right;
	border-left: 1px solid black;
}
#section {
	padding-top: 20px;
	padding-left: 5px;
}

.item {
	color: gray;
	
}
.item:hover {
	color: darkgray;
}
.item:visited {
	color: gray;
}

#first, #second {display: none;}
#tab_item1, #tab_item2 {display: none;}
#first:checked ~ #tab_item1, #second:checked ~ #tab_item2 {display: block;
color: gray; !important}
#first:checked ~ #tab_item1:visited, #second:checked ~ #tab_item2:visited {
	color:gray; !important
}


#catalog {
	width:200px; height: 30px;
	box-sizing: border-box;
	text-align: center;
	lineheight: 26px;
	margin-bottom: 10px;
}
.buttons {overflow: hidden;}
.buttons > label {
	display: block;
	float: left;
	
	width: 100px; height: 30px;
	line-height: 26px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid black;
	
	background: white;
	color: black;
}

#first:checked ~ .buttons > label:nth-of-type(1),
#second:checked ~ .buttons > label:nth-of-type(2) {

	background: black;
	color: white;
}
